.test {
	/* background-color: #f3e0e2; */
	background-color: #CFD69C;
	background-size: 100% auto;

}

.test_nuk {
	font-weight: bold;
	font-size: 20px;
	font-family: cursive;
	position: absolute;
	top: 70px;
	left: 35px
}

.test_1 {

	position: absolute;
	top: 110px;
	left: 450px;

	/*登入背景*/
	box-shadow: 10px -10px #D0D0D0;
	border-radius: 10px;
	height: 400px;
	width: 300px;
	background-color: #f6f5fa;

}


.test_2 {
	position: absolute;
	top: 200px;
	left: 65px
}

.test_3 {
	background-color: #E0E0E0;
	text-align: center;
	padding: 10px;
	border-width: 0px;
}


.account_block {
	margin-bottom: 9px;
}



.login_block {
	margin-top: 18px;
	position: absolute;
	top: 90px;
	left: 40px
}

.login_text {
	background-color: #FF7575;
	width: 95px;
	padding: 6px;
	border-width: 0px;
	border-radius: 80px;

}