.test {
	/* background-color: #f3e0e2; */
	background-color: #CFD69C;
	background-size: 100% auto;
	height: 100vh;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 0%;
}

.test_1 {
	vertical-align: middle;

	/*登入背景*/
	box-shadow: 0.5em -0.5em #D0D0D0;
	border-radius: 10px;
	font-size: 1.5vw;
	height: 60%;
	width: 25%;
	background-color: #f6f5fa;

	align-items: center;


}

.loginTitleBlock {

	height: 45%;
	font-weight: bold;
	font-family: cursive;
	align-items: center;

	display: flex;
	justify-content: center;
}

.loginTitle {
	font-size: 1.2em;

	margin-top: 1.5em;
}

.test_2 {
	height: 50%;

	vertical-align: middle;
}

.input_block {
	background-color: #E0E0E0;

	font-size: 0.8em;
	margin: 0.8em 0;
	width: 60%;
	border-radius: 0.3em;
	text-align: center;
	padding: 0.5em;
	border-color: #ffffff;
	border-width: 2px;
}


.account_block {

	margin-bottom: 9px;
}



.loginBottom {
	background-color: #FF7575;
	border-radius: 2em;
	margin: 1em 0;
	padding: 0.8em;
	align-items: center;
	width: 30%;
	border-color: #e26868;
	border-width: 0.2em;

}