.background {
    margin: 0px;
    /* background-color: #daf0d4; */
    /* background-color: #daf0d4; */


}


.title {
    /* 陰影 */
    box-shadow: 1px 5px 5px 1px #242424;
    /* background-color: #C7D6C2; */
    background-color: #95c7df;
    width: 16%;
    height: 567px;

}

.student {
    font-size: 25px;
    font-family: 'Abel', sans-serif;
    color: #252924;
    position: absolute;
    top: 40px;
    left: 40px;
    color: white;
}

.application {
    /* 移除超連結底線 */
    text-decoration: none;
    color: #0b0b0a;
    font-size: 18px;
    font-family: cursive;
    position: absolute;
    top: 90px;
    left: 40px;
    color: white;
}

/* 滑鼠移至文字上的變化 */
.application:hover {
    color: #bd504d;
    font-weight: bold;
    position: absolute;
    top: 91px;
    left: 41px;
}



.information {
    /* 移除超連結底線 */
    text-decoration: none;
    color: #0b0b0a;
    font-size: 18px;
    font-family: cursive;
    position: absolute;
    top: 120px;
    left: 40px;
    color: white;
}

/* 滑鼠移至文字上的變化 */
.information:hover {
    color: #bd504d;
    font-weight: bold;
    position: absolute;
    top: 121px;
    left: 41px;
}

.Violation_record {
    /* 移除超連結底線 */
    text-decoration: none;
    color: #0b0b0a;
    font-size: 18px;
    font-family: cursive;
    position: absolute;
    top: 150px;
    left: 40px;
    color: white;
}

/* 滑鼠移至文字上的變化 */
.Violation_record:hover {
    color: #bd504d;
    font-weight: bold;
    position: absolute;
    top: 151px;
    left: 41px;
}

.application_status {
    /* 移除超連結底線 */
    text-decoration: none;
    color: #0b0b0a;
    font-size: 18px;
    font-family: cursive;
    position: absolute;
    top: 170px;
    left: 40px;
    color: white;
}

.application_status:hover {
    color: #bd504d;
    font-weight: bold;
    position: absolute;
    top: 171px;
    left: 41px;
}

.boarder {
    /* 移除超連結底線 */
    text-decoration: none;
    color: #0b0b0a;
    font-size: 18px;
    font-family: cursive;
    position: absolute;
    top: 190px;
    left: 40px;
    color: white;
}

.boarder:hover{
    color: #bd504d;
    font-weight: bold;
    position: absolute;
    top: 191px;
    left: 41px;
}
.line {
    color: #494141;
    /* 文字陰影 */
    text-shadow: 2px 2px 7px #333333;
    position: absolute;
    top: 470px;
    left: 6px;
    color: white;
}

.address {
    color: #494141;
    position: absolute;
    top: 490px;
    left: 15px;
    font-size: 10px;

    font-family: cursive;
    color: white;
}

.telephone {
    color: #494141;
    position: absolute;
    top: 515px;
    left: 15px;
    font-size: 10px;

    font-family: cursive;
    color: white;
}