<!DOCTYPE html>

<html>
<head>
	<link rel='shortcut icon' href="#" />

</head>

<body>
	<div id="listBtn" href='javascript:;' onclick="javascript:show()">秀出來</div>
	<div id="textlistn" style="display:none;">
		Hello IT邦
	</div>

</body>

<script>
	function show() {
		var listBtn = document.getElementsByClassName('listBtn');
		var textlistn = document.getElementsByClassName('textlistn');
		if (textlistn.style.display === 'none') {
			textlistn.style.display = 'block';
			listBtn.innerText = "隱藏";
		} else {
			textlistn.style.display = 'none';
			listBtn.innerText = "秀出來";
		}
	}

</script>
</html>