<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta charset="utf-8" />
	<title>Student</title>
	<link rel='shortcut icon' href="#" />
	<link rel="stylesheet" type="text/css" href="/style/student.css" />
	<script type="text/javascript" src="/src/setTitle.js"></script>
	<!-- <script type="text/javascript" src="/src/student.js"></script> -->

</head>

<!-- 匯入字體 -->
<style>
	@import url('https://fonts.googleapis.com/css2?family=Abel&family=East+Sea+Dokdo&family=Rubik+Bubbles&display=swap');
</style>


<body id="background">

	<div id="title">
		<div id="student">
			Student
		</div>



		<form id="app_pos" action='/application/list' method="get">
			<input id="application" type="submit" name="button" value="宿舍申請" />
			<!-- <a class="application" href = 'javascript:;' onclick="javascript:show()">宿舍申請</a> -->
		</form>

		<form id="info_pos" action='/dormitory/list' method="get">
			<input id="information" type="submit" name="button" value="宿舍資訊" />
			<!-- <a class="information" href = 'javascript:;' onclick="javascript:show_dormitory_info()">宿舍資訊</a> -->
		</form>

		<form id="vio_pos" action='/violation/list' method="get">
			<input id="violation_record" type="submit" name="button" value="違規紀錄" />
			<!-- <a class="Violation_record" href = 'javascript:;' onclick="javascript:show()">違規紀錄查詢</a> -->
		</form>

		<form id="boarder_pos" action='/board/list' method="get">
			<input id="board" type="submit" name="button" value="佈告欄" />
			<!-- <a class = 'board' href = 'javascript:;' onclick="javascript:show_board()">布告欄</a> -->
		</form>


		<div id="line">
			————————————
		</div>

		<div id="address_1">
			地址:
		</div>

		<div id='address_2'>
			高雄市楠梓區高雄大學路700號
		</div>

		<div id="telephone_1">
			電話:
		</div>

		<div id='telephone_2'>
			07-5919000
		</div>

		<div class="board_post">

			<div class='page_header'>
				<h1><a href='/board'>留言板 <small>添加留言</small></a></h1>
			</div>

			<div class='comments container'>
				<form action='/board/post' method='post'>
					<div class='form-group'>
						<label for='title'>標題</label>
						<input tyep='text' id='name' name='title' placeholder="請輸入title" required minlength="2"
							maxlength="10">
					</div>
					<div class='form-group'>
						<label for='message'>留言內容</label>
						<textarea id='message' name='content' placeholder="請輸入留言內容" cols="30" rows="10" required
							minlength="5" maxlength="20"></textarea>
					</div>
					<button type='submit' class='btn btn-default'>發表</button>
				</form>
			</div>
		</div>
	</div>

</body>

</html>