<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta charset="utf-8" />
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/style/Login.css" charset="utf-8" />
</head>

<body class="test">

	<div class="test_1">
		<div class="test_nuk">
			高雄大學學生宿舍管理系統
		</div>
		<form class="test_2" action="/login" method="post">
			<div class="account_block">
				<input class="test_3" type="text" name="account" value="" placeholder="account">
			</div>
			<div>
				<input class="test_3" type="password" name="password" value="" placeholder="password">
			</div>
			<div class="login_block">
				<input class="login_text" type="submit" name="" value="LOG IN">
			</div>

	</div>

	<script src="/src/lib.js"></script>
</body>

</html>