<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta charset="utf-8" />
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/public/style/Login.css" />
</head>


<body class="total">
	<div class="test_1">
		<div class="title">高雄大學學生住宿系統</div>
	</div>
	<div class="grandparent ">
		<form action="http://127.0.0.1:3000/Login.html" method="post">
			<div class="account">
				<input class="font_size" type="text" name="account" value="" placeholder="輸入帳號">
			</div>
			<div class="password">
				<input class="font_size" type="password" name="password" value="" placeholder="輸入密碼">
			</div>
			<div class="test_2">
				<div>
					<input class="font_size" type="submit" name="" value="登入">

				</div>

			</div>
		</form>
	</div>



</body>


</html>