<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Student</title>
    <link rel="stylesheet" type="text/css" href="Student.css" />

</head>

<!-- 匯入字體 -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

    @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
</style>


<body class="background">

    <div class="title">
        <div class="student">
            Student
        </div>

        <div>
            <a class="application" href="https://www.youtube.com/">住宿申請</a>
        </div>

        <div>
            <a class="information" href="https://www.youtube.com/">宿舍資訊</a>
        </div>
        <div class="line">
            ————————————
        </div>
        <div class="address">
            地址:</br>高雄市楠梓區高雄大學路700號
        </div>
        <div class="telephone">
            </br>電話:</br>07-5919000
        </div>
    </div>

</body>

</html>