<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta charset="utf-8" />
	<title>Student</title>
	<link rel="stylesheet" type="text/css" href="/style/student.css" />
	<script type="text/javascript" src="./src/student.js"></script>

</head>

<!-- 匯入字體 -->
<style>
	@import url('https://fonts.googleapis.com/css2?family=Abel&family=East+Sea+Dokdo&family=Rubik+Bubbles&display=swap');
</style>


<body class="background">

	<div class="title">
		<div class="student">
			Student
		</div>

		<div>
			<input id="application" type="submit" name="button" value="宿舍申請" />
			<!-- <a class="application" href = 'javascript:;' onclick="javascript:show()">宿舍申請</a> -->
		</div>

		<div>
			<input id="information" type="submit" name="button" value="宿舍資訊" />
			<!-- <a class="information" href = 'javascript:;' onclick="javascript:show_dormitory_info()">宿舍資訊</a> -->
		</div>

		<div>
			<input id="violation_record" type="submit" name="button" value="違規紀錄查詢" />
			<!-- <a class="Violation_record" href = 'javascript:;' onclick="javascript:show()">違規紀錄查詢</a> -->
		</div>

		<div>
			<input id="application_status" type="submit" name="button" value="申請狀態查詢" />
			<!-- <a class="application_status" href = 'javascript:;' onclick="javascript:show()">申請狀態查詢</a> -->
		</div>

		<div>
			<input id="boarder" type="submit" name="button" value="布告欄" />
			<!-- <a class = 'boarder' href = 'javascript:;' onclick="javascript:show_boarder()">布告欄</a> -->
		</div>

		<div class="line">
			————————————
		</div>

		<div class="address">
			地址:</br>高雄市楠梓區高雄大學路700號
		</div>

		<div class="telephone">
			</br>電話:</br>07-5919000
		</div>

		<div id="boarder_position" style="display: none;">
			<div class='header container'>
				<div class='page-header'>
					<h1>留言板</h1>
					<a class='btn btn-success' href="/post">發表留言</a>
				</div>
			</div>

			<div class='comments container'">
                <ul class='list-group'>
                    {{each comments}}
                    <li class='list-group-item'>
                        {{$value.name}}說 : {{$value.message}}
                        <span class=" pull-right">{{$value.datetime}}</span>
				</li>
				{{/each}}
				</ul>
			</div>
		</div>

		<div id="dormitory_info" style="display: none;">
			<ul>
				<li>
					宿舍外觀<br>
					<a class="dormitory_text"
						href="https://sa.nuk.edu.tw/var/file/9/1009/img/432/353380849.pdf">綜合宿舍</a>
					<br>
					<a class="dormitory_text"
						href="https://sa.nuk.edu.tw/var/file/9/1009/img/432/610340678.pdf">學生第一宿舍</a>
					<br>
					<a class="dormitory_text" href="https://sa.nuk.edu.tw/var/file/9/1009/img/451434028.pdf">學生第二宿舍</a>

				</li>
				<br>
				<li>
					學生宿舍設備說明 (床位大小)<br>
					<br>
					床位大小：<br>
					學一宿舍長 190 公分、寬 95 公分<br>
					學二宿舍長 200 公分、寬 95 公分<br>
				</li> 綜合宿舍長 216 公分、寬 95 公分<br><br>
				<li> 費用：<br>
					<table border="1" cellpadding="5">
						<tr>
							<td>項目</td>
							<td>收費標準</td>
							<td>備註</td>
						</tr>
						<tr>
							<td>學生宿舍
								住宿費</td>
							<td>1、學一宿舍:7,463 元
								(OA-男、OB-女)<br>
								2、學二宿舍:9,985 元
								(OE-男、OF-女)<br>
								3、綜合宿舍:9,710 元</td>
							<td>內含住宿網路資源使用費 400 元。</td>
						</tr>
						<tr>
							<td>學生宿舍
								費保證金</td>
							<td>2,000 元</td>
							<td>1.初次辦理住宿者繳交。<br>
								2.第一學期已住，第二學期續住
								者，免重複繳交。
							</td>
						</tr>
					</table>
				</li><br>
				<li>
					洗衣間:<br>
					<table border="1" cellpadding="5">
						<tr>
							<td>

							</td>
							<td>
								洗衣機
							</td>
							<td>烘衣機</td>
							<td>脫水機</td>
						</tr>

						<tr>
							<td>
								價錢
							</td>
							<td>
								10 元/次
							</td>
							<td>20 元/次</td>
							<td>免費</td>
						</tr>
						<tr>
							<td>
								時間
							</td>
							<td>
								30 分鐘
							</td>
							<td>30 分鐘</td>
							<td>3 分鐘</td>
						</tr>
					</table>
				</li><br>
				<li>
					閱覽室：學生第二宿舍一樓。
				</li><br>
				<li>
					自修室：學生第二宿舍 OE、OF 二樓各一間、綜合宿舍 4 樓一間。
				</li><br>
				<li>
					自動販賣機：於宿舍內設有數台自動販賣機，提供各式飲料、餅乾與泡
					麵。
				</li>
				<br>
				<li>
					垃圾場與資源回收場：位於學生第一宿舍地下一樓。
				</li>
				<br>
				<li>
					冰箱：學生第一宿舍、學生第二宿舍二樓設有冰箱。
				</li>
			</ul>
		</div>


	</div>

</body>

<!-- <script>
    
    var dormitory_info = document.getElementById('dormitory_info');
    var boarder_position = document.getElementById('boarder_position');

    var information = document.getElementById('information');
    var boarder = document.getElementById('boarder');

    information.addEventListener('click' , function(){
        console.log('suc')
        information.style.color = '#bd504d';
        information.style.fontWeight = 'bold';
        dormitory_info.style.display = 'block';

        boarder.style.color = 'white';
        boarder.style.fontWeight = 'normal';
        boarder_position.style.display = 'none';
    })

    boarder.addEventListener('click' , function(){
        console.log('suc')
        
        dormitory_info.style.display = 'none';
        information.style.color = 'white';
        information.style.fontWeight = 'normal';

        boarder.style.color = '#bd504d';
        boarder.style.fontWeight = 'bold';
        boarder_position.style.display = 'block';
    })
</script> -->

</html>